[submodule "DavePack"]
	path = DavePack
	url = https://github.com/FGMEMBERS-RESTRICTED/DavePack.git
[submodule "MD-80"]
	path = MD-80
	url = https://github.com/FGMEMBERS-RESTRICTED/MD-80.git
[submodule "RA-5"]
	path = RA-5
	url = https://github.com/FGMEMBERS-RESTRICTED/RA-5.git
[submodule "A-1H"]
	path = A-1H
	url = https://github.com/FGMEMBERS-RESTRICTED/A-1H.git
[submodule "A-29B"]
	path = A-29B
	url = https://github.com/FGMEMBERS-RESTRICTED/A-29B.git
[submodule "A-3"]
	path = A-3
	url = https://github.com/FGMEMBERS-RESTRICTED/A-3.git
[submodule "A-7E_vx5"]
	path = A-7E_vx5
	url = https://github.com/FGMEMBERS-RESTRICTED/A-7E_vx5.git
[submodule "AC130"]
	path = AC130
	url = https://github.com/FGMEMBERS-RESTRICTED/AC130.git
[submodule "AD-4"]
	path = AD-4
	url = https://github.com/FGMEMBERS-RESTRICTED/AD-4.git
[submodule "AD-6"]
	path = AD-6
	url = https://github.com/FGMEMBERS-RESTRICTED/AD-6.git
[submodule "Aerocar"]
	path = Aerocar
	url = https://github.com/FGMEMBERS-RESTRICTED/Aerocar.git
[submodule "AH-1"]
	path = AH-1
	url = https://github.com/FGMEMBERS-RESTRICTED/AH-1.git
[submodule "AH-1S"]
	path = AH-1S
	url = https://github.com/FGMEMBERS-RESTRICTED/AH-1S.git
[submodule "AS330-Puma"]
	path = AS330-Puma
	url = https://github.com/FGMEMBERS-RESTRICTED/AS330-Puma.git
[submodule "AT-29"]
	path = AT-29
	url = https://github.com/FGMEMBERS-RESTRICTED/AT-29.git
[submodule "aw139"]
	path = aw139
	url = https://github.com/FGMEMBERS-RESTRICTED/aw139.git
[submodule "bk117"]
	path = bk117
	url = https://github.com/FGMEMBERS-RESTRICTED/bk117.git
[submodule "F-4EJ"]
	path = F-4EJ
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4EJ.git
[submodule "FA-18"]
	path = FA-18
	url = https://github.com/FGMEMBERS-RESTRICTED/FA-18.git
[submodule "shuttle6"]
	path = shuttle6
	url = https://github.com/FGMEMBERS-RESTRICTED/shuttle6.git
[submodule "danube"]
	path = danube
	url = https://github.com/FGMEMBERS-RESTRICTED/danube.git
[submodule "shuttle9"]
	path = shuttle9
	url = https://github.com/FGMEMBERS-RESTRICTED/shuttle9.git
[submodule "daedalus"]
	path = daedalus
	url = https://github.com/FGMEMBERS-RESTRICTED/daedalus.git
[submodule "Cygnet_II"]
	path = Cygnet_II
	url = https://github.com/FGMEMBERS-RESTRICTED/Cygnet_II.git
[submodule "Learjet2"]
	path = Learjet2
	url = https://github.com/FGMEMBERS-RESTRICTED/Learjet2.git
[submodule "Fusca"]
	path = Fusca
	url = https://github.com/FGMEMBERS-RESTRICTED/Fusca.git
[submodule "F-100"]
	path = F-100
	url = https://github.com/FGMEMBERS-RESTRICTED/F-100.git
[submodule "F-103E"]
	path = F-103E
	url = https://github.com/FGMEMBERS-RESTRICTED/F-103E.git
[submodule "F-105"]
	path = F-105
	url = https://github.com/FGMEMBERS-RESTRICTED/F-105.git
[submodule "F-4D"]
	path = F-4D
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4D.git
[submodule "F-4E"]
	path = F-4E
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4E.git
[submodule "F-4ETB"]
	path = F-4ETB
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4ETB.git
[submodule "F-4F"]
	path = F-4F
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4F.git
[submodule "F-4J"]
	path = F-4J
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4J.git
[submodule "F-4Jvx4"]
	path = F-4Jvx4
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4Jvx4.git
[submodule "F-4J76"]
	path = F-4J76
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4J76.git
[submodule "F-4N"]
	path = F-4N
	url = https://github.com/FGMEMBERS-RESTRICTED/F-4N.git
[submodule "F-5E"]
	path = F-5E
	url = https://github.com/FGMEMBERS-RESTRICTED/F-5E.git
[submodule "F-7MG"]
	path = F-7MG
	url = https://github.com/FGMEMBERS-RESTRICTED/F-7MG.git
[submodule "FGR2"]
	path = FGR2
	url = https://github.com/FGMEMBERS-RESTRICTED/FGR2.git
[submodule "FJ-3"]
	path = FJ-3
	url = https://github.com/FGMEMBERS-RESTRICTED/FJ-3.git
